<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css'/>

    <script src="../javascripts/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-social.css">-->
    <script src="../angularjs/cloudapp.js"></script>

</head>
<body ng-app="CloudApp" ng-controller="myMain">
<!--Container for the entire page-->


<div class="container-fluid">


    <div class="row" ng-show="true" >
        <div class="col-md-offset-2 col-md-6">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    ENTRY PAGE
                </div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-md-6">Username :</div>
                    <div class="col-md-6">
                        <input type="text" ng-model="restbucks.username">
                    </div>

                    </div>
<br>

<div class="row">
                    <div class="col-md-6">Password</div>
                    <div class="col-md-6">
                        <input type="password" ng-model="restbucks.password">
                    </div>

                    </div>
<br>
                    <div class="row">
                        <div class="col-md-6">Tenant :</div>
                        <div class="col-md-6">
                            <select ng-model="restbucks.tenant">
                                <option value="tenant1">tenant1</option>
                                <option value="tenant2">tenant2</option>
                                <option value="tenant3">tenant3</option>
                                <option value="tenant4">tenant4</option>

                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-primary" ng-click="submitfn()">SUBMIT</button>
        </div>
    </div>

</div>

</body>
</html>