<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="../javascripts/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../stylesheets/bootstrap/js/bootstrap.js"></script>
  </head>
  <body ng-app="CloudApp">
  <!--Container for the entire page-->
    <div ng-controller="cloudCtrl" class="container-fluid">
      <div class="navbar navbar-inverse">

      </div>
    </div>
  </body>
</html>