<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="../javascripts/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../stylesheets/bootstrap/js/bootstrap.js"></script>
  </head>
  <body ng-app="CloudApp">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>