<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href='/bootstrap/css/bootstrap.css'/>

      <script src="../javascripts/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="../stylesheets/bootstrap/js/bootstrap.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-social.css">
      <script src="../angularjs/cloudapp.js"></script>

  </head>
  <body ng-app="CloudApp" ng-controller="cloudCtrl">
  <!--Container for the entire page-->

      <nav class="navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">UML Modelling</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Grader</a></li>

          </ul>
          <button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
          <!--<div class="col-md-offset-10 col-md-2">
              <button type="button" class="btn btn-primary">Primary</button>
            </div>-->
        </div>
      </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-2 col-md-2">
        <h4>Select .txt file<span class="label label-default"></span></h4>

      </div>
      <div class="col-md-5">
        <div class="input-group">
         <input type="file" ng-model="fileUpload" name="uploads[]" file-model="fileUpload" class="form-control" placeholder="Search for...">
            <input type="file" fileinput="file" />
          <!--<input type="file" onchange="" multiple/>-->
          <span class="input-group-btn">
        <button class="btn btn-default" ng-click="uploadFile()" type="button">Upload</button>
      </span>
        </div>

      </div>

      <div class="col-md-1">
        <button class="btn btn-default" type="button">Generate</button>

      </div>

    </div>
    <div class="row" ng-show="false" >
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary" >
          <div class="panel-heading">
            UML Diagram
          </div>
          <div class="panel-body">

          </div>

        </div>
      </div>
    </div>
    <div class="row" ng-hide="false">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Grading
          </div>
          <div class="panel-body">

          </div>

        </div>
      </div>
    </div>
  </div>

  </body>
</html>